.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div[data-test="table"] {
  overflow-x: auto;
  border-radius: var(--table-border-radius);
}

.libWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.blur-bg {
  backdrop-filter: blur(2px);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

.d-flex input,
.d-flex input:focus,
.d-flex input:default,
.d-flex input:target,
.d-flex input:visited,
.d-flex input:active {
  background-color: transparent !important;
  border: none !important;
  border-width: 4px;
  text-align: center !important;
  border-style: none !important;
  vertical-align: middle !important;
}

.loader-text {
  text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.green-spinner {
  color: #15803d;
  background-color: transparent !important;
}

@media only screen and (min-width: 600px) {

  .tab,
  .libWrapper {
    flex-direction: row;
  }
}